<div id="user-profile-container">
    <div class="user-profile-inner">
        <div class="row">
            <div class="col-xs-12">
                <div class="user-profile-top">
                    <div class="user-profile-banner"></div>
                </div>
                <div class="user-profile-menu">
                    <div class="container">
                        <div class="user-profile-image"></div>
                        <div class="user-profile-user">kylegani</div>
                    </div>
                </div>
                <div class="container">
                    <tabs>
                        <tab TabTitle="Watch History">
                            Watch history content goes here.
                        </tab>
                        <tab TabTitle="Favorites">
                            Watch history content goes here.
                        </tab>
                    </tabs>
                </div>
            </div>
        </div>
    </div>
</div>