<div class="user-profile-container" [class.hide-user-profile]="userProfileHide">
    <div class="user-profile-inner">
        <div class="user-profile-banner">

        </div>
        <div class="user-profile-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="user-profile-image"></div>
                        <div class="user-profile-menu-inner">
                            <div class="user-name"></div>
                            <ul class="user-profile-menu-items">
                                <li class="user-profile-menu-item">Options</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="user-profile-content">
                            <tabs>
                                <tab TabTitle="Watch History">Watch history content goes here... </tab>
                                <tab TabTitle="Favorites"> Favorite content goes here..</tab>
                            </tabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>