body {
  padding: 0;
  width:100%;
  font-size:16px;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #fcf2e6;
}

a {
  color: #00B7FF;
}

button {
  color: #fff;
  background: #52a591;
  border: 0;
  outline: none;
  font-size:1.2em;
  padding:10px 15px;
  text-transform: uppercase;
  border-radius: 40px
}

