.app-container{
  height:100vh;
  width:100%;
  display:table;
  border-collapse: collapse;
}

hypertube-nav, hypertube-home{
  width: auto;
  display:table-cell;
  border-collapse: collapse;
  vertical-align: top;
}

hypertube-nav{
  padding:0 45px;
  z-index:9999;
  width:90px;
  background: #29242a;
  height:100vh;
  border-collapse: collapse;
  position:relative;
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.8);
}

hypertube-home{
  width: 100%;
  height:100vh;
}

