.tab-items {
    width:100%;
    margin: 0 ;
    padding: 0;
    list-style: none;
}

.tab-item {
    display:inline-block;
    padding: 5px 0;
    margin-right:20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-bottom: 3px solid rgba(255,255,255,0);
}

.tab-item.active {
    border-bottom: 3px solid #4b9482;
    color: #fff;
}