<div class="search-container" [class.hide-search]="_searchService.hide">
	<div class="search-inner-container">
		<div class="search">
			<input title="title_search" id="title-search" placeholder="Search..." [(ngModel)]="query"
			       (keyup)="filter()">
		</div>
		<div class="search-results">
			<div *ngIf="filteredList.length === 0">
				<i class="fa fa-search fa-3x"></i>
				<p>Find your favourite movie or series.</p>
			</div>
			<div *ngFor="let item of filteredList">
				<a (click)="selectMovie(item)" [innerHTML]="item.strong_title"></a>
			</div>
		</div>

	</div>
</div>