  <section id="home-banner">
    <div class="container-fluid" style="padding:0;">
      <div class="home-banner-text">
        <h1 class="longshadow">More than just a streaming app</h1>
        <h4>All your favorites in one place</h4>
        <button>Sign up for free</button>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <h3>The ultimate torrent streaming solution.</h3>
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <h5>Wherever you go...</h5>
          <p>Tubular is an online streaming solution, that leverages bitorrent and curates the latest movies and series, just for you. Streaming directly from our server saves you from long download times, bloated torrenting software and does away with any storage limitations. Watch movies and series on the go - wherever you are.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about-2">
    <div class="container">
      <h3>What you want, When you want it</h3>
      <div class="row">
        <div class="col-lg-6">
          <h5>Over 100,000 titles</h5>
          <p>Pick and choose your favorite movies and series. Our advanced search functionality allows you to find the titles you love. Sort by release date, popularity, genre, running time, ratings and more.</p>
        </div>
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </section>
  <hypertube-footer></hypertube-footer>
