@keyframes movies-info-show {
	0% {
		background-color: transparent;
	}
	80% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(40, 40, 44, 0.8)
	}
}

.watch-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.hide-movies-info {
	right: 0;
	animation: movies-info-show 1s ease-in-out;
	background-color: rgba(40, 40, 44, 0.8);
}

movies-info {
	z-index: 99;
	width: calc(100% - 90px);
	position: fixed;
	top: 0;
	right: -100%;
	min-height: 100vh;
	transition: all 1s ease-in-out;
	background-color: rgba(40, 40, 44, 0);
	color: #fff;
}

#movies-results {
	background: #221e23;
}

.movies-thumb-img {
	width: 100%;
}

#movies-results:hover > div {
	opacity: 0.3;
	transition: all 0.5s ease-in-out;
	transform: scale3d(1, 1, 1)

}

#movies-results:hover > div:hover {
	opacity: 1;
	transform: scale3d(1.05, 1.05, 1.05);
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

#movies-results > div {
	transition: all 0.5s ease-in-out;
	padding: 0 !important;
}

.video-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #000;
}

.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2147483647;
	transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.control-buttons {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.control-buttons-main {
	justify-content: space-between;
	align-items: center;
}

.control-buttons button {
	background-color: transparent;
	border: hidden;
	width: 36px;
	height: 36px;
	padding: 0;
}

.control-buttons button:focus {
	outline: 0 !important;
}

.control-buttons i {
	line-height: 36px;
	font-size: 36px;
}

.seeker {
	position: absolute;
	bottom: 36px;
	width: 100%;
}

.hidden {
	opacity: 0;
}

.no-cursor {
	cursor: none;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.end-time {
	color: #fff;
	font-size: 2rem;
	font-weight: bolder;
	position: absolute;
	left: 12px;
	top: 12px;
}

.watch-time {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bolder;
	margin: auto 0 auto 1rem;
}

.seeker {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 6px;
	bottom: 36px;
	height: 30px;
	width: auto;
}

.raised-text::-webkit-media-text-track-container {
	bottom: 80px;
}

.raised-text::-moz-media-text-track-container {
	bottom: 80px;
}

.drop-up {
	position: relative;
	display: inline-block;
}

.drop-up > div {
	display: none;
	position: absolute;
	max-height: 10vh;
	overflow-y: auto;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 100%;
	right: 0;
	flex-direction: column;
	transition: background-color .3s ease-in-out;
}

.drop-up > div > span {
	min-width: 160px;
	height: 2rem;
	cursor: pointer;
}

.activeQuality {
	background-color: rgba(255, 255, 255, 0.5);
}

.drop-up span:hover {
	background-color: rgba(128, 128, 128, 0.5);
}

.drop-up-show {
	display: flex !important;
}