<div class="watch-container">
	<div #videoContainer class="video-container" [ngClass]="{'no-cursor': hideCursor}" (mousemove)="mouseMove()">
		<video #video
		       autoplay
		       [poster]="(movie.poster) ? 'http://image.tmdb.org/t/p/w1280' + movie.poster : ''"
		       [ngClass]="{'raised-text': !hideControls}"
		       (timeupdate)="seekTimeUpdate()"
		       (loadedmetadata)="metaLoaded()"
		       (click)="playPause()">
			<source *ngIf="movieSrc" src="" [src]="movieSrc">
			<track *ngFor="let caption of captions"
			       [label]="caption.language.nativeName"
			       [srclang]="caption.language.code"
			       [src]="caption.file"
			       src=""
			       kind="subtitles">
		</video>
		<div class="top-controls">
			<div class="end-time" [ngClass]="{'hidden': hideControls}">
				<span>End Time: {{endTime}}</span>
			</div>
		</div>
		<div #videoControls class="video-controls" [ngClass]="{'hidden': hideControls}">
			<progress-bar
					#progressBar
					class="seeker"
					(seeked)="seek($event)">
			</progress-bar>
			<div class="control-buttons control-buttons-main">
				<div class="control-buttons">
					<button (click)="playPause()">
						<i class="material-icons">{{(video.paused) ? "play_arrow" : "pause"}}</i>
					</button>
					<span class="watch-time">{{currentTime}} / {{durationTime}}</span>
				</div>
				<div #buttons class="control-buttons" (window:mouseup)="documentClick()">
					<div class="drop-up">
						<button (click)="showTracks = false; showSrcs = !showSrcs">
							<i class="material-icons">hd</i>
						</button>
						<div class="drop-up-contents" [ngClass]="{'drop-up-show': showSrcs}">
							<span
									*ngFor="let video of movie.srcs; let index = index"
									(click)="selectVideo(index)"
									[ngClass]="{'activeQuality': playingIndex == index}">{{video.quality}} :: {{video.humanReadableSize}}</span>
						</div>
					</div>
					<div class="drop-up">
						<button (click)="showSrcs = false; showTracks = !showTracks">
							<i class="material-icons">subtitles</i>
						</button>
						<div class="drop-up-contents" [ngClass]="{'drop-up-show': showTracks}">
							<span *ngFor="let caption of video.textTracks; let index = index" (click)="selectTrack(index)">{{caption.label}}</span>
						</div>
					</div>
					<button (click)="toggleFullscreen()">
						<i class="material-icons">{{(isFullscreen()) ? "fullscreen_exit" : "fullscreen"}}</i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>