.watch-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.video-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #000;
}

.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	padding: 4px;
	z-index: 2147483647;
	transition: opacity .25s linear;
}

.control-buttons {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.control-buttons-main {
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.control-buttons button {
	background-color: transparent;
	border: hidden;
	width: 30px;
	height: 30px;
	padding: 0;
}

.control-buttons button:focus {
	outline: 0 !important;
}

.control-buttons i {
	line-height: 30px;
	font-size: 30px;
}

.hidden {
	opacity: 0;
}

.no-cursor {
	cursor: none;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.end-time {
	color: #fff;
	font-size: 2rem;
	font-weight: bolder;
	position: absolute;
	left: 12px;
	top: 12px;
}

.watch-time {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bolder;
	margin: auto 0 auto 1rem;
}

.no-select {
/*	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: default;*/
}

.seeker {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 6px;
	bottom: 40px;
	height: 24px;
}

.raised-text::-webkit-media-text-track-container {
	bottom: 80px;
}

.raised-text::-moz-media-text-track-container {
	bottom: 80px;
}

.drop-up {
	position: relative;
	display: inline-block;
}

.drop-up > div {
	display: none;
	position: absolute;
	max-height: 10vh;
	overflow-y: auto;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 100%;
	right: 0;
	flex-direction: column;
	transition: background-color .3s ease-in-out;
}

.drop-up > div > span {
	min-width: 160px;
	height: 2rem;
	cursor: pointer;
}

.activeQuality {
	background-color: rgba(255, 255, 255, 0.5);
}

.drop-up span:hover {
	background-color: rgba(128, 128, 128, 0.5);
}

.drop-up-show {
	display: flex !important;
}

.button-padding {
	margin-left: 12px;
}