@keyframes movies-info-show {
	0% {
		background-color: transparent;
	}
	80% {
		background-color: transparent;
	}
	100% {
		background-color: rgba(40, 40, 44, 0.8)
	}
}

.watch-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.hide-movies-info {
	right: 0;
	animation: movies-info-show 1s ease-in-out;
	background-color: rgba(40, 40, 44, 0.8);
}

movies-info {
	z-index: 99;
	width: calc(100% - 90px);
	position: fixed;
	top: 0;
	right: -100%;
	min-height: 100vh;
	transition: all 1s ease-in-out;
	background-color: rgba(40, 40, 44, 0);
	color: #fff;
}

#movies-results {
	background: #221e23;
}

.movies-thumb-img {
	width: 100%;
}

#movies-results:hover > div {
	opacity: 0.3;
	transition: all 0.5s ease-in-out;
	transform: scale3d(1, 1, 1)

}

#movies-results:hover > div:hover {
	opacity: 1;
	transform: scale3d(1.05, 1.05, 1.05);
	transition: all 0.5s ease-in-out;
	z-index: 1;
}

#movies-results > div {
	transition: all 0.5s ease-in-out;
	padding: 0 !important;
}

.video-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #000;
}

.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2147483647;
	transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.control-buttons {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.control-buttons-main {
	justify-content: space-between;
	align-items: center;
}

.control-buttons button {
	background-color: transparent;
	border: hidden;
	width: 48px;
	height: 48px;
	padding: 0;
}

.control-buttons button:focus {
	outline: 0 !important;
}

.control-buttons i {
	line-height: 48px;
	font-size: 48px;
}

.seeker {
	position: absolute;
	bottom: 36px;
	width: 100%;
}

.hidden {
	opacity: 0;
}

.no-cursor {
	cursor: none;
}

video {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.end-time {
	color: #fff;
	font-size: 2rem;
	font-weight: bolder;
	position: absolute;
	left: 12px;
	top: 12px;
}

.watch-time {
	color: #fff;
	font-size: 1.2rem;
	font-weight: bolder;
	margin: auto 0 auto 1rem;
}

.seeker {
	position: absolute;
	left: 0;
	bottom: 48px;
	-webkit-appearance: none;
	width: 100%;
	margin: 6px 1px 0 1px;
	background-color: transparent;
	border: none;
}

.seeker:focus {
	outline: none;
}

.seeker:hover::-webkit-slider-runnable-track {
	height: 24px;
	margin-top: 0;
}

.seeker:hover::-webkit-slider-thumb {
	height: 30px;
	transform: rotate(0deg);
	border-radius: 0;
}

.seeker::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	margin-top: 12px;
	cursor: pointer;
	background: #484d4d;
	border: none;
	transition: all .3s ease-in-out;
}

.seeker::-webkit-slider-thumb {
	border: 1px solid rgba(0, 137, 123, 0.47);
	transform: rotate(90deg);
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background: #52a591;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
	transition: all .3s ease-in-out;
}

.seeker:focus::-webkit-slider-runnable-track {
	background: #4a5050;
}

.seeker:hover::-moz-range-track {
	height: 24px;
	margin-top: 0;
}

.seeker:hover::-moz-range-thumb {
	height: 30px;
	transform: rotate(0deg);
	border-radius: 0;
}

.seeker::-moz-range-track {
	width: 100%;
	height: 6px;
	margin-top: 12px;
	cursor: pointer;
	background: #484d4d;
	border: none;
	transition: all .3s ease-in-out;
}

.seeker::-moz-range-thumb {
	border: 1px solid rgba(0, 137, 123, 0.47);
	transform: rotate(90deg);
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background: #52a591;
	cursor: pointer;
	margin-top: -3px;
	transition: all .3s ease-in-out;
}

.raised-text::-webkit-media-text-track-container {
	bottom: 80px;
}

.raised-text::-moz-media-text-track-container {
	bottom: 80px;
}